.increase {
  color: #53d8ea; }

.decrease {
  color: #f57da1; }

body,
html {
  height: 100%; }

body {
  background: linear-gradient(to right, #4568DC, #B06AB3);
  color: #6C7A89; }

a {
  color: #4568DC;
  transition: 0.25s; }

a:hover,
a:focus,
a:active {
  color: #5f7de1;
  text-decoration: none; }

.page {
  margin: 4rem 0;
  background: #fff;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  border-radius: 8px; }
  .page:not(.page__home) {
    padding: 1rem; }
  .page__title {
    color: #4568DC; }

.navbar-inverse {
  padding-top: 0;
  padding-bottom: 0;
  background: rgba(255, 255, 255, 0.15); }
  .navbar-inverse .navbar-brand {
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem; }
    .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:active {
      color: #fff; }
  .navbar-inverse .navbar-toggler {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: none; }
    .navbar-inverse .navbar-toggler:focus {
      outline: none; }
  .navbar-inverse .navbar-nav .nav-link {
    color: #fff;
    padding: 1.25rem .75rem; }
    .navbar-inverse .navbar-nav .nav-link:hover, .navbar-inverse .navbar-nav .nav-link:focus, .navbar-inverse .navbar-nav .nav-link:active, .navbar-inverse .navbar-nav .nav-link.active {
      color: #fff;
      background: rgba(255, 255, 255, 0.2); }

.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, #4568DC, #B06AB3);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center; }

.crypto {
  padding: 1rem;
  background: #fff;
  transition: 0.25s; }
  .crypto:hover {
    background: #fbfbfb;
    transition: 0.25s; }
  .crypto:first-child {
    border-radius: 8px 8px 0 0; }
  .crypto:last-child {
    border-radius: 0 0 8px 8px; }
  .crypto:not(:last-child) {
    border-bottom: 1px solid #f3f6fb; }
  .crypto__meta {
    padding-left: 0;
    margin-bottom: 0;
    color: #808d9b;
    list-style: none; }
    .crypto__meta li {
      display: inline-block; }
      .crypto__meta li + li {
        margin-left: .25rem; }

.footer {
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  padding: 4rem 0; }
