.navbar-inverse {
  padding-top: 0;
  padding-bottom: 0;
  background: $transparent;

  .navbar-brand {
    color: $white;
    padding-top: 1rem;
    padding-bottom: 1rem;

    &:hover,
    &:focus,
    &:active {
      color: $white;
    }
  }

  .navbar-toggler {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: none;

    &:focus {
      outline: none;
    }
  }

  .navbar-nav .nav-link {
    color: $white;
    padding: 1.25rem .75rem;

    &:hover,
    &:focus,
    &:active,
    &.active {
      color: $white;
      background: $semi-transparent;
    }
  }
}
